.main {
    position: absolute;
    left: 40%;
    top: 40%;
}

input {
    width: 75%;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
}

.login-btn {
    background-color: #54B435;
    border-radius: 10px;
    border: none;
    color: white;
    width: 75%;
    border: 1px solid;
}

.login-btn:hover {
    background-color: #fff;
    color: #54B435;
}