.gen-main {
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

.action-btn {
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 25%;
    height: 50px;
    text-align: center;

}

.gen {
    background-color: #54B435;
}

.pdf {
    background-color: #ff7300;
}
