.test-body {
    background-color: #f5f5f5;
    width: 210mm;
    min-height: 297mm;
    margin-left: auto;
    margin-right: auto;
}
.test-body div, .test-body span, .test-body input {
    margin: 5px;
}
.test-span{
    font-size: 45px;
}
.test-input {
    width: 15%;
}
.right {
    color:green;
}
